#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

# Mac files
Icon?
.DS_store
Desktop.ini
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# dependencies
node_modules/**
bower_components/**

# Built files
[bB]uild/**
dist/**

# Local files
.env
.variables
.ignore/**
ignore/**

# Misc.
!.gitkeep
.idea
.vscode
.projectile
**/tags
templates/*
